.header {
    background-color: #dd6ca59a;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-family: "Alfa Slab One", serif;

}

.header img {
    height: 100px;
    padding: 20px;
}